Source: gst-omx0.10
Section: libs
Priority: optional
Maintainer: George Kiagiadakis <george.kiagiadakis@collabora.com>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               libgstreamer-plugins-base0.10-dev (>= 0.10.36)
Standards-Version: 3.9.3
Homepage: http://gstreamer.freedesktop.org/

Package: gstreamer0.10-omx
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: GStreamer OpenMAX plugins
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This module provides a plugin that allows communication of GStreamer
 with OpenMAX IL components, which are used to access hardware
 encoders and decoders.

Package: gstreamer0.10-omx-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         gstreamer0.10-omx (= ${binary:Version})
Description: Debug symbols for gstreamer0.10-omx
 This package provides the debug symbols for gstreamer0.10-omx.
